.post{
    max-width: 40%;
    background-color: white;
  border:10px solid black;
    margin-bottom: 45px;

}
.post_image{
    width: 100%;
    object-fit: contain;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
height:40%

}
.post_video{
    width: 100%;
    object-fit: contain;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;


}
.post:hover{
    transform:scale(1.02);
    transition-duration:1s;
}
.post_text {
    font-weight: normal;
    padding:20px;

    
}
.post_header {
    display:flex;
    align-items:center;
    margin-top:2%
    
}
.post_avatar {
    margin-right:10px;
}
.post_commentBox {
    display:flex;
    margin-top:10px;
}

.post_comments{
    padding:20px;
}
.post_input {
    flex:1;
    border: none;
    padding:10px;
    border-top:1px solid lightgray;
}

.post_button{
    flex:0;
    border:none;
    color: #6082a3;
    background-color:transparent;
    border-top:1px solid lightgray;
}